/* Settings to make the CSS/SCSS easier to build. */
/*  ------------------
	Border-Box
	------------------ */
/* line 9, ../sass/cleanhouse.scss */
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 12, ../sass/cleanhouse.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*	------------------
	Transitions
	------------------ */
/*	------------------
	Font-Size
	------------------ */
/* 	------------------
	Micro clearfix
	------------------ */
/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
/* line 47, ../sass/cleanhouse.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 52, ../sass/cleanhouse.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 61, ../sass/cleanhouse.scss */
.cf {
  *zoom: 1;
}

/* Colors */
/* Colors */
/* rgba(101, 101, 101, 0); */
/* rgba(51, 51, 51, 0);  */
/* rgba (66, 192, 207, 0); */
/* rgba(37, 164, 179, 0); */
/* rgba(255, 255, 255, 0); */
/* rgba(208, 208, 208, 0); */
/* Variables */
/* Breakpoints */
/* Overall Styles */
/* Font Size */
/* line 5, ../sass/_base.scss */
body {
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

@media screen and (min-width: 100em) {
  /* line 12, ../sass/_base.scss */
  body {
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 72em) {
  /* line 20, ../sass/_base.scss */
  body {
    font-size: 1.1em;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 40em) {
  /* line 27, ../sass/_base.scss */
  body {
    font-size: 100%;
  }

  /* line 31, ../sass/_base.scss */
  h1 {
    font-size: 125%;
  }

  /* line 35, ../sass/_base.scss */
  h2, h3 {
    font-size: 110%;
  }
}
/* Body and HTML Colors and Styles */
/* line 42, ../sass/_base.scss */
html {
  background-color: #d0d0d0;
  margin: 0;
  padding: 0;
}

/* line 48, ../sass/_base.scss */
body {
  width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
}

/* line 55, ../sass/_base.scss */
.content > h1 {
  text-align: center;
}

/* Settings for breakpoints */
@media (min-width: 81em) {
  /* line 62, ../sass/_base.scss */
  body {
    width: 90%;
    margin: 0 5%;
  }
}
@media (min-width: 100em) {
  /* line 69, ../sass/_base.scss */
  body {
    width: 80%;
    margin: 0 10%;
  }
}
@media (min-width: 40em) {
  /* line 76, ../sass/_base.scss */
  div.content {
    padding: 2%;
    margin: 0;
    background-color: inherit;
    display: block;
  }
}
@media (max-width: 40em) {
  /* line 85, ../sass/_base.scss */
  div.content {
    width: 97%;
    padding: 1%;
  }
}
/* Font Properties */
/* Text Settings */
/* line 6, ../sass/_text.scss */
html {
  font-family: Verdana, sans-serif;
  color: #656565;
  text-align: left;
}

/* line 11, ../sass/_text.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 15, ../sass/_text.scss */
a {
  color: #25a4b3;
}

/* line 20, ../sass/_text.scss */
h1 > a, .home h2 > a {
  text-decoration: none;
  color: inherit;
}

.home h2 > a:hover {
  text-decoration: underline;
  color: #25a4b3;
}

.home h2 {
  margin: 1em 0 .25em;
}

.home p {
  margin-top: 0;
}

/* line 24, ../sass/_text.scss */
nav a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 30, ../sass/_text.scss */
.mainHeader nav a {
  color: white;
  padding: 1%;
}
/* line 34, ../sass/_text.scss */
.mainHeader nav a:hover {
  background-color: #ebebe6;
  color: #656565;
  border-radius: .25em;
  /*
  transition: color 1s ease-in;
  @include transition(color 1s ease-in);
  */
}

/* line 46, ../sass/_text.scss */
.mainFooter nav a {
  color: white;
}
/* line 49, ../sass/_text.scss */
.mainFooter nav a:hover {
  color: #25a4b3;
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

/* line 57, ../sass/_text.scss */
ul {
  list-style: circle;
}

/* Main Header, Footer, and Nav */
/* 	----------------------
	MAIN HEADER AND FOOTER
	----------------------
*/
/* Main Header and Footer */
/* line 10, ../sass/_nav.scss */
header.mainHeader, footer {
  background-color: #42c0cf;
  color: white;
  text-align: center;
  padding: .125% 0;
}
/* line 16, ../sass/_nav.scss */
header.mainHeader h1, header.mainHeader h2, header.mainHeader h3, header.mainHeader h4, header.mainHeader h5, header.mainHeader h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: inherit;
}
/* line 20, ../sass/_nav.scss */
header.mainHeader ul li, footer ul li {
  display: inline;
}

/* line 26, ../sass/_nav.scss */
h1.mainHeader {
  text-transform: uppercase;
  font-size: 200%;
}

@media (max-width: 40em) {
  /* line 33, ../sass/_nav.scss */
  h1.mainHeader {
    font-size: 140%;
    margin: 0 0 2% 0;
  }

  /* line 38, ../sass/_nav.scss */
  header.mainHeader {
    margin: 0 0 0 0;
  }

  /* line 42, ../sass/_nav.scss */
  .mainHeader nav ul li {
    display: block;
  }
}
/* line 48, ../sass/_nav.scss */
footer {
  margin: 0;
  padding: 0;
}

/* Navigation */
/* line 73, ../sass/_nav.scss */
nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 78, ../sass/_nav.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 83, ../sass/_nav.scss */
nav ul li {
  padding: .5em;
}

/* line 88, ../sass/_nav.scss */
.mainHeader nav {
  margin-bottom: 1em;
}

/* Main Footer */
/* line 102, ../sass/_nav.scss */
footer.mainFooter {
  background: #656565;
  color: white;
  text-align: center;
  margin: 2% 0 0;
  padding: 3% 0;
  display: block;
  clear: both;
}

/* 	----------------------
		SECTIONS
		----------------------
	*/
/* Sections */
/* line 9, ../sass/_sections.scss */
section {
  background-color: rgba(208, 208, 208, 0.15);
  padding: 1%;
  margin: 0;
}
/* line 14, ../sass/_sections.scss */
section h1 {
  color: #25a4b3;
  font-size: 2rem;
}

@media screen and (max-width: 40em) {
  /* line 22, ../sass/_sections.scss */
  section h1 {
    text-align: center;
    background-color: #656565;
    color: white;
    padding: 1% 1%;
    margin: 2% 0 0 0;
    width: 98%;
    font-size: 1.25em;
  }

  /* line 32, ../sass/_sections.scss */
  section h2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 40em) {
  /* line 38, ../sass/_sections.scss */
  section {
    padding: 1% 1% 2% 1%;
  }

  section.what h1, section.what h2 {
    text-transform: none;
  }
}
@media screen and (min-width: 72em) {
  /* line 45, ../sass/_sections.scss */
  section {
    padding: 1%;
    margin: 1%;
  }

  /* line 50, ../sass/_sections.scss */
  section {
    background-color: rgba(208, 208, 208, 0.15);
    border-radius: .5rem;
  }

  .content.home {
    text-align: center;
  }

  section.what {
    display: inline-block;
    width: 45%;
    margin: 0 auto;
  }

  /* line 55, ../sass/_sections.scss */
  section.work {
    float: left;
    width: 45%;
    position: relative;
    display: inline-block;
  }

  /* line 62, ../sass/_sections.scss */
  section.about {
    clear: both;
  }
}
/* Tagline */
/* line 70, ../sass/_sections.scss */
.tagline {
  display: block;
  color: #42c0cf;
  font-size: 1.5rem;
  margin: 0;
  padding: 1%;
  text-align: center;
}

@media screen and (max-width: 40em) {
  /* line 80, ../sass/_sections.scss */
  .tagline {
    padding: 3% 1%;
    font-size: 125%;
  }
}
/* Social Media Icons */
/* line 88, ../sass/_sections.scss */
ul.icons li {
  display: inline;
}
/* line 91, ../sass/_sections.scss */
ul.icons li img {
  height: 3rem;
}

/* 	Profile Image */
/* line 98, ../sass/_sections.scss */
#profile {
  width: 150px;
  float: left;
  padding: .5% 1% .5% .25%;
  border-radius: 100px;
}

@media screen and (max-width: 40em) {
  /* line 107, ../sass/_sections.scss */
  #profile {
    padding: 2%;
  }
}
@media screen and (max-width: 25em) {
  /* line 114, ../sass/_sections.scss */
  #profile {
    width: 25%;
  }
}
/* 	Featured Image */
/* line 121, ../sass/_sections.scss */
.photo img {
  width: 100%;
}

/* Definition Lists */
/* line 14, ../sass/cleantheme.scss */
dl {
  padding: .5%;
}

/* line 18, ../sass/cleantheme.scss */
dt {
  color: #25a4b3;
  font-weight: bold;
}

/* line 23, ../sass/cleantheme.scss */
dd {
  margin: 0;
  padding: 0;
}
