/* Author: Elizabeth Mitchell */
/* Portfolio Website */
/* Table of Contents 
	* Overall CSS Attributes
	* Theme Settings (colors and variables)
	* Main Settings 
		* Positioning and General Settings
		* Breakpoints
		* Text Settings
	* Specific Settings
		* Main Header and Footer
		* Sections
*/
/* Overall CSS Attributes */
/* See cleanhouse */
/* Settings to make the CSS/SCSS easier to build. */
/*  ------------------
	Border-Box
	------------------ */
/*  http://compass-style.org/examples/compass/css3/box_sizing/ */
/* line 11, ../sass/cleanhouse.scss */
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 14, ../sass/cleanhouse.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*	------------------
	Transitions
	------------------ */
/*	------------------
	Font-Size
	------------------ */
/* 	------------------
	Micro clearfix
	------------------ */
/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
/* line 49, ../sass/cleanhouse.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 54, ../sass/cleanhouse.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 63, ../sass/cleanhouse.scss */
.cf {
  *zoom: 1;
}

/* 	-------------------
	THEME SETTINGS 
	-------------------
*/
/* Colors */
/* Variables */
/* 72px */
/* 	-------------------
	MAIN SETTINGS 
	-------------------
*/
/* Positioning and General Settings */
/* Font Size */
/* line 54, ../sass/styleport.scss */
body {
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

@media (min-width: 120em) {
  /* 1920 px */
  /* line 61, ../sass/styleport.scss */
  body {
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
  }
}
/* line 68, ../sass/styleport.scss */
html {
  background-color: rgba(37, 164, 179, 0);
  background-image: -webkit-gradient(radial, circle, 0, circle, 80, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(37, 164, 179, 0)));
  background-image: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(37, 164, 179, 0) 80%);
  background-image: -moz-radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(37, 164, 179, 0) 80%);
  background-image: -o-radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(37, 164, 179, 0) 80%);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(37, 164, 179, 0) 80%);
  background-size: 24px 24px;
  /* Webkit support */
  background-size: 1.5em 1.5em;
  background-position: 0;
}

/* line 76, ../sass/styleport.scss */
body {
  position: relative;
  min-width: 25em;
  /* 400px */
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

/* Settings for breakpoints */
@media (min-width: 80em) {
  /* 1280px */
  /* line 86, ../sass/styleport.scss */
  body {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 30em) {
  /* 480px */
  /* line 93, ../sass/styleport.scss */
  body {
    min-width: 80%;
  }
}
/* Text Settings */
/* line 101, ../sass/styleport.scss */
html {
  font-family: Verdana, sans-serif;
  color: rgba(101, 101, 101, 0);
  text-align: left;
  background-color: white;
}

/* line 107, ../sass/styleport.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 111, ../sass/styleport.scss */
a {
  text-decoration: none;
  color: rgba(37, 164, 179, 0);
}

/* line 116, ../sass/styleport.scss */
h1 > a {
  color: inherit;
}

/* line 120, ../sass/styleport.scss */
nav a {
  text-decoration: none;
  font-weight: bold;
}

/* line 125, ../sass/styleport.scss */
.mainHeader nav a {
  color: rgba(101, 101, 101, 0);
}
/* line 128, ../sass/styleport.scss */
.mainHeader nav a:hover {
  color: rgba(255, 255, 255, 0);
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

/* line 135, ../sass/styleport.scss */
.mainFooter nav a {
  color: rgba(255, 255, 255, 0);
}
/* line 138, ../sass/styleport.scss */
.mainFooter nav a:hover {
  color: rgba(37, 164, 179, 0);
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

/* line 146, ../sass/styleport.scss */
ul {
  list-style: none;
}

/* 	-------------------
	SPECIFIC SETTINGS 
	-------------------
*/
/* 	----------------------
	MAIN HEADER AND FOOTER
	----------------------
*/
/* Main Header and Footer */
/* line 161, ../sass/styleport.scss */
body > header, footer {
  background-color: rgba 66, 192, 207, 0;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 2% 0;
}
/* line 165, ../sass/styleport.scss */
body > header h1, body > header h2, body > header h3, body > header h4, body > header h5, body > header h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: inherit;
}
/* line 168, ../sass/styleport.scss */
body > header ul li, footer ul li {
  display: inline;
}

/* line 173, ../sass/styleport.scss */
h1.mainHeader {
  text-transform: uppercase;
  font-size: 200%;
}

@media (max-width: 30em) {
  /* line 180, ../sass/styleport.scss */
  p.tagline, h1.what, aside.dev h1.dev, h1.about, h1.contact,
  section h2, .services dt, h2.about {
    font-size: 125%;
  }

  /* line 183, ../sass/styleport.scss */
  h1.mainHeader {
    font-size: 140%;
  }
}
/* line 188, ../sass/styleport.scss */
footer {
  margin: 0;
  padding: 0;
}

/* Navigation */
/* line 195, ../sass/styleport.scss */
nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 200, ../sass/styleport.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 205, ../sass/styleport.scss */
nav ul li {
  margin: 0;
  padding: .5em;
}

/* line 211, ../sass/styleport.scss */
nav.mainFooter {
  color: rgba 66, 192, 207, 0;
}

/* 	----------------------
	SECTIONS
	----------------------
*/
/* Overall Section Settings */
/* Sections */
/* line 225, ../sass/styleport.scss */
section {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid rgba(101, 101, 101, 0) 4.5em;
  padding: 5% 5%;
  margin: 0;
}
/* line 231, ../sass/styleport.scss */
section h1 {
  color: rgba(37, 164, 179, 0);
  font-size: 2rem;
}
/* line 236, ../sass/styleport.scss */
section dt {
  color: rgba 66, 192, 207, 0;
  font-weight: bold;
  font-size: 1.5rem;
}
/* line 242, ../sass/styleport.scss */
section dd {
  margin: 0;
  padding: 0 0 2% 0;
}

/* Specific Sections and Asides */
/* Last Section */
/* line 252, ../sass/styleport.scss */
section.about {
  border-bottom: none;
}

/* Settings for Other Items */
/* Main Footer */
/* line 260, ../sass/styleport.scss */
footer.mainFooter {
  background: rgba(101, 101, 101, 0);
  color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: 0;
  padding: 2% 0;
}

/* Aside */
/* line 270, ../sass/styleport.scss */
aside.dev {
  border-bottom: solid rgba(101, 101, 101, 0) 4.5em;
  padding: 5% 5%;
  margin: 0;
  background-color: rgba 66, 192, 207, 0;
  color: rgba(255, 255, 255, 0);
}
/* line 278, ../sass/styleport.scss */
aside.dev h1 {
  color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
}

/* Tagline */
/* line 286, ../sass/styleport.scss */
.tagline {
  color: rgba 66, 192, 207, 0;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  margin: 0;
  padding: 1% 2% 0 2%;
  text-align: center;
}

@media (min-width: 30em) {
  /* 480px */
  /* line 296, ../sass/styleport.scss */
  p.tagline:before {
    content: url(../images/projects/daisy3.png);
    display: inline-block;
    float: left;
  }
}
@media (min-width: 80em) {
  /* 1280px */
  /* line 304, ../sass/styleport.scss */
  .tagline {
    padding: 1% 20% 0 20%;
  }

  /* line 308, ../sass/styleport.scss */
  p.tagline:before {
    content: url(../images/projects/daisy3.png);
    display: inline-block;
    float: left;
    position: absolute;
    left: 10%;
  }
}
/* Icons */
/* line 321, ../sass/styleport.scss */
ul.icons li {
  display: inline;
}
/* line 322, ../sass/styleport.scss */
ul.icons li img {
  height: 3rem;
  max-height: 4em;
}

/* Work */
/* line 330, ../sass/styleport.scss */
.samples dd {
  padding: 0;
}

/* line 334, ../sass/styleport.scss */
.samples dt {
  padding: 2% 0 0 0;
}

@media (min-width: 47em) {
  /* 752 px */
  /* line 340, ../sass/styleport.scss */
  dl.samples dt:before {
    content: url(../images/projects/daisy3.png);
    width: 2%;
    display: inline-block;
    float: left;
    position: absolute;
    padding: 0;
    margin: 0;
    left: -20%;
  }

  /* line 351, ../sass/styleport.scss */
  dl.samples dd, dl.samples dt {
    position: relative;
    left: 15%;
    width: 80%;
    clear: both;
  }
}
