/* Author: Elizabeth Mitchell */
/* Working Draft of Portfolio Website */
/* Overall CSS Attributes */
/* See cleanhouse */
/* Settings to make the CSS/SCSS easier to build. */
/*  ------------------
	Border-Box
	------------------ */
/*  http://compass-style.org/examples/compass/css3/box_sizing/ */
/* line 11, ../scss/cleanhouse.scss */
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 14, ../scss/cleanhouse.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*	------------------
	Transitions
	------------------ */
/*	------------------
	Font-Size
	------------------ */
/* 	------------------
	Micro clearfix
	------------------ */
/**
	 * For modern browsers
	 * 1. The space content is one way to avoid an Opera bug when the
	 *    contenteditable attribute is included anywhere else in the document.
	 *    Otherwise it causes space to appear at the top and bottom of elements
	 *    that are clearfixed.
	 * 2. The use of `table` rather than `block` is only necessary if using
	 *    `:before` to contain the top-margins of child elements.
	 */
/* line 49, ../scss/cleanhouse.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 54, ../scss/cleanhouse.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 63, ../scss/cleanhouse.scss */
.cf {
  *zoom: 1;
}

/* 	-------------------
	THEME SETTINGS 
	-------------------
*/
/* Colors */
/* rgba(101, 101, 101, 0); */
/* rgba (51, 51, 51, 0); */
/* rgba (66, 192, 207, 0); */
/* rgba (37, 164, 2179, 0); */
/* rgba(255, 255, 255, 0); */
/* Variables */
/* 72px */
/* 	-------------------
	MAIN SETTINGS 
	-------------------
*/
/* Positioning and General Settings */
/* Font Size */
/* line 35, ../scss/styleport.scss */
body {
  font-size: 16px;
  font-size: 1em;
  font-size: 1rem;
}

@media (min-width: 120em) {
  /* 1920 px */
  /* line 42, ../scss/styleport.scss */
  body {
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
  }
}
/* line 49, ../scss/styleport.scss */
html {
  background-color: #25a4b3;
  background-image: -webkit-gradient(radial, circle, 0, circle, 80, color-stop(10%, #ffffff), color-stop(80%, #25a4b3));
  background-image: -webkit-radial-gradient(circle, #ffffff 10%, #25a4b3 80%);
  background-image: -moz-radial-gradient(circle, #ffffff 10%, #25a4b3 80%);
  background-image: -o-radial-gradient(circle, #ffffff 10%, #25a4b3 80%);
  background-image: radial-gradient(circle, #ffffff 10%, #25a4b3 80%);
  background-size: 24px 24px;
  /* Webkit support */
  background-size: 1.5em 1.5em;
  background-position: 0;
}

/* line 57, ../scss/styleport.scss */
body {
  position: relative;
  min-width: 25em;
  /* 400px */
  width: 100%;
}

/* Settings for breakpoints */
@media (min-width: 80em) {
  /* 1280px */
  /* line 66, ../scss/styleport.scss */
  body {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 30em) {
  /* 392px */
  /* line 73, ../scss/styleport.scss */
  body {
    min-width: 80%;
  }
}
/* Text Settings */
/* line 81, ../scss/styleport.scss */
html {
  font-family: Verdana, sans-serif;
  color: #656565;
  text-align: left;
  background-color: white;
}

/* line 87, ../scss/styleport.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 91, ../scss/styleport.scss */
a {
  text-decoration: none;
  color: #25a4b3;
}

/* line 96, ../scss/styleport.scss */
h1 > a {
  color: inherit;
}

/* line 100, ../scss/styleport.scss */
nav a {
  text-decoration: none;
  font-weight: bold;
}

/* line 105, ../scss/styleport.scss */
.mainHeader nav a {
  color: #656565;
}
/* line 108, ../scss/styleport.scss */
.mainHeader nav a:hover {
  color: white;
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

/* line 115, ../scss/styleport.scss */
.mainFooter nav a {
  color: white;
}
/* line 118, ../scss/styleport.scss */
.mainFooter nav a:hover {
  color: #25a4b3;
  transition: color 1s ease-in;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

/* line 126, ../scss/styleport.scss */
ul {
  list-style: none;
}

/* 	-------------------
	SPECIFIC SETTINGS 
	-------------------
*/
/* 	----------------------
	MAIN HEADER AND FOOTER
	----------------------
*/
/* Main Header and Footer */
/* line 141, ../scss/styleport.scss */
body > header, footer {
  background-color: #42c0cf;
  color: white;
  text-align: center;
  padding: 2% 0;
}
/* line 145, ../scss/styleport.scss */
body > header h1, body > header h2, body > header h3, body > header h4, body > header h5, body > header h6, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: inherit;
}
/* line 148, ../scss/styleport.scss */
body > header ul li, footer ul li {
  display: inline;
}

/* line 153, ../scss/styleport.scss */
h1.mainHeader {
  text-transform: uppercase;
  font-size: 200%;
}

@media (max-width: 30em) {
  /* line 160, ../scss/styleport.scss */
  p.tagline, h1.what, aside.dev h1.dev, h1.about, h1.contact,
  section h2, .services dt, h2.about {
    font-size: 125%;
  }

  /* line 163, ../scss/styleport.scss */
  h1.mainHeader {
    font-size: 140%;
  }
}
/* line 168, ../scss/styleport.scss */
footer {
  margin: 0;
  padding: 0;
}

/* Navigation */
/* line 175, ../scss/styleport.scss */
nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 180, ../scss/styleport.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 185, ../scss/styleport.scss */
nav ul li {
  margin: 0;
  padding: .5em;
}

/* line 191, ../scss/styleport.scss */
nav.mainFooter {
  color: #42c0cf;
}

/* 	----------------------
	SECTIONS
	----------------------
*/
/* Overall Section Settings */
/* Sections */
/* line 205, ../scss/styleport.scss */
section {
  background-color: white;
  border-bottom: solid #656565 4.5em;
  padding: 5% 5%;
  margin: 0;
}
/* line 211, ../scss/styleport.scss */
section h1 {
  color: #25a4b3;
  font-size: 2rem;
}
/* line 216, ../scss/styleport.scss */
section dt {
  color: #42c0cf;
  font-weight: bold;
  font-size: 1.5rem;
}
/* line 222, ../scss/styleport.scss */
section dd {
  margin: 0;
  padding: 0 0 2% 0;
}

/* Contact Section */
/* line 230, ../scss/styleport.scss */
.contact, h1.contact {
  background-color: #42c0cf;
  color: white;
  border-bottom: none;
}

/* line 236, ../scss/styleport.scss */
section.contact {
  margin: 0;
}

/* Main Footer */
/* line 242, ../scss/styleport.scss */
footer.mainFooter {
  background: #656565;
  color: white;
  text-align: center;
  margin: 0;
  padding: 2% 0;
}

/* Aside */
/* line 252, ../scss/styleport.scss */
aside.dev {
  border-bottom: solid #656565 4.5em;
  padding: 5% 5%;
  margin: 0;
  background-color: #42c0cf;
  color: white;
}
/* line 260, ../scss/styleport.scss */
aside.dev h1 {
  color: white;
  font-size: 1.5rem;
}

/* Tagline */
/* line 268, ../scss/styleport.scss */
.tagline {
  color: #42c0cf;
  background-color: white;
  font-size: 1.5rem;
  margin: 0;
  padding: 1% 2% 0 2%;
  text-align: center;
}

@media (min-width: 30em) {
  /* 800px */
  /* line 278, ../scss/styleport.scss */
  p.tagline:before {
    content: url(../images/projects/daisy3.png);
    display: inline-block;
    float: left;
  }
}
@media (min-width: 80em) {
  /* 1280px */
  /* line 286, ../scss/styleport.scss */
  .tagline {
    padding: 1% 20% 0 20%;
  }

  /* line 290, ../scss/styleport.scss */
  p.tagline:before {
    content: url(../images/projects/daisy3.png);
    display: inline-block;
    float: left;
    position: absolute;
    left: 10%;
  }
}
/* Icons */
/* line 303, ../scss/styleport.scss */
ul.icons li {
  display: inline;
}
/* line 304, ../scss/styleport.scss */
ul.icons li img {
  height: 3rem;
  max-height: 4em;
}
