/* Author: Elizabeth Mitchell */
/* Working Draft of Portfolio Website */

/* Overall CSS Attributes */
	
	/* See cleanhouse */
	@import 'cleanhouse';

/* 	-------------------
	THEME SETTINGS 
	-------------------
*/
	
	/* Colors */
		$gray: #656565;			/* rgba(101, 101, 101, 0); */
		$black: #333;			/* rgba (51, 51, 51, 0); */
		$blue: #42c0cf;			/* rgba (66, 192, 207, 0); */
		$darkblue: #25a4b3;		/* rgba (37, 164, 2179, 0); */
		$white: white; 			/* rgba(255, 255, 255, 0); */

		
	/* Variables */
		 
		$grayBlock:	solid $gray 4.5em;	/* 72px */
	

/* 	-------------------
	MAIN SETTINGS 
	-------------------
*/

	/* Positioning and General Settings */
	
		/* Font Size */
		$base-font-size: 16px;
		$base-font-size: 1em;
		$base-font-size: 1rem;
	
			@media (min-width:120em) {
				$base-font-size: 32px;
				$base-font-size: 2em;
				$base-font-size: 2rem;
				}
			
		html {
			background-color: $darkblue;
			@include background-image (radial-gradient(circle, $white 10%, $darkblue 80%)); 
			background-size: 24px 24px; /* Webkit support */
			background-size: 1.5em 1.5em;
			background-position: 0;
			}
		
		body {
			position: relative;
			min-width: 25em; 		/* 400px */
			width: 100%;
			}
				
		/* Settings for breakpoints */
	
		@media (min-width:80em) {	/* 1280px */
				body {
					width: 80%;
					left: 10%;
					}
				}
				
		@media (max-width:24.5em) {	/* 1280px */
				body {
					min-width:14em;
					}
				}
				
	/* Text Settings */

		html
			{font-family: Verdana, sans-serif;
			color: $gray;
			text-align: left;
			background-color: white;
			}

		h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			font-weight: bold;}
		
		a {
			text-decoration: none;
			color: $darkblue;
			}
		
		h1 > a {
			color: inherit;
			}
			
		nav a {
			text-decoration: none;
			font-weight: bold;
			}	
		
		.mainHeader nav a{
			color: $gray;
			
			&:hover {
				color: $white;
				transition: color 1s ease-in;
				@include transition(color 1s ease-in);
				}		
			}
			
		.mainFooter nav a {
			color: $white;
			
			&:hover {
				color: $darkblue;
				transition: color 1s ease-in;
				@include transition(color 1s ease-in);
				}		
			}
			
		ul
			{list-style: none;
			}

/* 	-------------------
	SPECIFIC SETTINGS 
	-------------------
*/

	/* 	----------------------
		MAIN HEADER AND FOOTER
		----------------------
	*/

		/* Main Header and Footer */
		
			body > header, footer {
				background-color: $blue;
				color: $white;
				text-align: center;
				h1, h2, h3, h4, h5, h6 {
					color: inherit;
					}
				ul li {display: inline;
					}
				padding: 2% 0;
				}
					
			h1.mainHeader {
				text-transform: uppercase;
				font-size: 150%;
				}
				
			@media (max-width:24.5em) {
				header h1.mainHeader, p.tagline, h1.what, aside.dev h1.dev, h1.about, h1.contact, 
				section h2, .services dt, h2.about {
						font-size: 125%;
						}
				}
			
			footer {
				margin: 0;
				padding: 0;
				}
			
		/* Navigation */
		
			nav {
				margin: 0;
				padding: 0 .5em;
				ul li {
						margin: 0;
						padding: .5em;
						}
				text-align: center;
				}
		
			nav.mainFooter {
				color: $blue;
				}
		

	/* 	----------------------
		SECTIONS
		----------------------
	*/
	
		/* Overall Section Settings */

			/* Sections */
			
			section {
				background-color: $white;
				border-bottom: $grayBlock;
				padding: 5% 5%;
				margin: 0;
				
				h1 {
				color: $darkblue;
				font-size: 2rem;
				}
				
				dt {
				color: $blue;
				font-weight: bold;
				font-size: 1.5rem;
				}
			}
			
			/* Contact Section */
			
			.contact, h1.contact {
			background-color: $blue;
			color: $white;
			border-bottom: none;
			}
			
			section.contact {
			margin: 0;
			}
			
			/* Main Footer */
			
			footer.mainFooter {
			background: $gray;
			color: $white;
			text-align: center;
			margin: 0;
			padding: 2% 0;
			}
	
			/* Aside */
			
			aside.dev {
				border-bottom: $grayBlock;
				padding: 5% 5%;
				margin: 0;
					
				background-color: $blue;
				color: $white;
			
				h1 {
				color: $white;
				font-size: 1.5rem;
				}
				}
				
			/* Tagline */
		
			.tagline {
			color: $blue;
			background-color: $white;
			font-size: 1.5rem;
			text-align: center;
			margin: 0;
			padding: 1% 2% 0 2%;
			}
				
			@media (min-width:80em) {	/* 1280px */
				.tagline {
					padding: 1% 20% 0 20%;
					}
				}
			
			/* Icons */
			
			ul.icons li
			{display: inline;
				img {
				height: 3rem;
				width: 3rem;
				}
			}	