  /* Overall Styles */
    
  /* Font Size */
	
    body {
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem;
      }
    
    @media (min-width:$large) {	
      body {
        font-size: 20px;
        font-size: 1.25em;
        font-size: 1.25rem;
        }
      }  
  
  /* Body and HTML Colors and Styles */
    
    html {
			background-color: $gray2;
      margin: 0;
      padding: 0;
      }
      
    body {
			width: 100%;
			background-color: $white;
      padding: 0;
      margin: 0;
			}
				
		/* Settings for breakpoints */
	
      @media (min-width:$medium) {
				body {
					width: 90%;
          margin: 0 5%;
					}
				}
        
      @media (min-width:$large) {
				body {
					width: 80%;
          margin: 0 10%;
					}
				}
    
    /* Content div for fixed header */
    
/*
    div.content {
      position: relative;
      top: 100px;
      padding: 0 0 0 0;
      margin: 1% 1% 1% 1%;
      }
*/

    @media (min-width: $small) {
      div.content {
        padding: 2%;
        margin: 0;
        background-color: inherit;
        display: block;
      }
    }
