/* 	----------------------
		SECTIONS
		----------------------
	*/
      

  /* Sections */
  
    section {
      background-color: $white;
      padding: 0;
      margin: 0;
      
      h1 {
        color: $darkblue;
        font-size: 2rem;
      }
    }

    @media (max-width:$small) {
        
      section h1 {
        text-align: center;
        background-color: $gray;
        color: $white;
        padding: 1%;
        margin: 0;
        width: 98%;
        font-size: 1rem;
      }
    }
    
    @media (min-width:$small) {
      section {
        padding: 1% 0 2% 0;
      }
    }
    
    @media (min-width:$tablet) {
      
      section {
        padding: 1%;
        margin: 1%;
      }
      
      section {
        border: solid $gray2 .125em;
        background-color: $pale;
      }
      
      section.what, section.about {
        float: left;
        width: 30%;
        position: relative;
        display: inline-block;
      }
      
      section.work {
        float: right;
        width: 60%;
        position: relative;
        display: inline-block;
      }
      
    }
      		
	/* Tagline */
		
    .tagline {
      display: block;
      color: $blue;
      font-size: 1.5rem;
      margin: 0;
      padding: 1%;
      text-align: center;
    }      
    
    @media (max-width:$small) {
      .tagline {
        padding: 1%;
        font-size: 125%;
      }
    }
      
  /* Icons */
  
    ul.icons li {
      display: inline;
      
      img {
        height: 3rem;
        max-height: 4em;
      }
    }	