/* 	----------------------
		SECTIONS
		----------------------
	*/
	
    /* Icons */
			
			ul.icons li
			{display: inline;
				img {
				height: 3rem;
				max-height: 4em;
				}
			}	
      
		/* Overall Section Settings */

			/* Sections */
			
			section {
				background-color: $white;
				padding: 0;
				margin: 1% 0;
        
  /*      border-bottom: $grayBlock; */
				
				h1 {
				color: $darkblue;
				font-size: 2rem;
				}
			}

	/* Specific Sections and Asides */
				
			/* Last Section */
		
        section.about {
            border-bottom: none;
            margin-bottom: 10%;
          }
						
				
	/* Tagline */
		
			.tagline {
      display: block;
			color: $blue;
			font-size: 1.5rem;
			margin: 0;
			padding: 2%;
			text-align: center;
			}
      
	//		@media (min-width:30em) { /* 480px */
	//			p.tagline:before {
	//				content: url(../images/projects/daisy3.png);
	//			/*	display:inline-block; */
	//				float:left;
	//			}
	//		}
				
	//		@media (min-width:80em) {	/* 1280px */
	//			.tagline {
	//				padding: 2% 20% 2 20%;
	//				}
	//			}   
  
  
  /* Quick Restyling of Sections */
  
    /* Option 1
  
      section h1 {
        text-align: center;
        background-color: $gray2;
        padding: 1%;
        height: 100%;
      }
    */
    
    /* Option 2 */
  
      section h1 {
        text-align: center;
        background-color: $gray;
        color: white;
        padding: 1%;
        height: 100%;
      }
      
  section h2, section p {
    margin-left: 1%;
    }
      