/* Variables */

		 
$grayBlock:	solid $gray 2em;


/* Breakpoints */

$xsmall: 400px;   // 25em
$small: 640px;    // 40em
$tablet: 1152px;  // 72em
$medium: 1296px;  // 81em
$large: 1600px;   // 100em

$xsmall: 25em;
$small: 40em;
$tablet: 72em;
$medium: 81em;
$large: 100em;

$mqtype: device-width;
