
	@import 'cleanhouse';
  
  @import 'colors';
  @import 'variables';
  @import 'base';
  @import 'text';
  @import 'nav';
  @import 'sections';
    
    
  /* Definition Lists */
  
    dl {
      padding: .5%;
      }
    
    dt {
      color: $darkblue;
      font-weight: bold;
      }
    
    dd {
      margin: 0;
      padding: 0;
      }
  