/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

 
		$gray: #656565;
		$black: #333;			
		$blue: #42c0cf;
		$darkblue: #25a4b3;
		$white: white;