
/* Helper Styles */

    #slides {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333;
    }

    #slides a:hover,
    #slides a:active {
      color: #42c0cf;
    }

    .navbar {
      overflow: hidden;
    }

/* End Helper Styles */



/* Required Styles */

#slides {
      display: none
    }

    .container {
      margin: 0 auto;
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 2px;
        padding-right: 2px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }

      #slides .fa {
      font-size: 300%;
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 481px) and (max-width: 1199px) {
      .container {
        width: 95%;
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 95%;
      }
    }

/* End of Required Styles */


/* Specific Styles */


  div.container {
    padding: 1%;
    margin: .1% 1% 1% 1%;
  }

  @media screen and (min-width: 41em) {
    div.container {
      width: 60%;
      margin: 0 auto;
    }
  }

  #slides .fa {
    font-size: 200%;
  }
