/* Author: Elizabeth Mitchell */
/* Portfolio Website */


/* Table of Contents 
	* Overall CSS Attributes
	* Theme Settings (colors and variables)
	* Main Settings 
		* Positioning and General Settings
		* Breakpoints
		* Text Settings
	* Specific Settings
		* Main Header and Footer
		* Sections
*/

/* Overall CSS Attributes */
	
	/* See cleanhouse */
	@import 'cleanhouse';

	
/* 	-------------------
	THEME SETTINGS 
	-------------------
*/
	
	/* Colors */
		$gray: #656565;     /* rgba(101, 101, 101, 0); */
		$black: #333;			  /* rgba(51, 51, 51, 0);  */
		$blue: #42c0cf;     /* rgba (66, 192, 207, 0); */
		$darkblue: #25a4b3; /* rgba(37, 164, 179, 0); */
		$white: white;      /* rgba(255, 255, 255, 0); */
    $gray2: #d0d0d0;    /* rgba(208, 208, 208, 0); */

		
	/* Variables */
		 
		$grayBlock:	solid $gray 4.5em;	/* 72px */
	

/* 	-------------------
	MAIN SETTINGS 
	-------------------
*/

	/* Positioning and General Settings */
	
		/* Font Size */
		body {
		font-size: 16px;
		font-size: 1em;
		font-size: 1rem;
		}
	
			@media (min-width:120em) {	/* 1920 px */
				body {
				font-size: 20px;
				font-size: 1.25em;
				font-size: 1.25rem;
				}
				}
    
		html {
      
      /* Set fallback color */
			background-color: $gray2;
      
        /* Polka dot background */
      
        /* Circle radial gradient */
        /* @include background-image (radial-gradient(circle, $darkblue 30px, $white 30px)); */
                  
        /* Specify spacing between circles. */
        /* background-size: 80px 88px; */   /* Webkit support */
        /* background-size: 5em 5.5em; */
                  
        /* background-position: 0; */
			}
		
		body {
			position: relative;
			min-width: 25em; 		/* 400px */
			width: 100%;
			background-color: $white;
			}
				
		/* Settings for breakpoints */
	
		@media (min-width:80em) {	/* 1280px */
				body {
					width: 80%;
					left: 10%;
					}
				}
				
		@media (max-width:30em) {	/* 480px */
				body {
					min-width:80%;
					}
				}
				
	/* Text Settings */

		html
			{font-family: Verdana, sans-serif;
			color: $gray;
			text-align: left;
			}

		h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			font-weight: bold;}
		
		a {
			text-decoration: none;
			color: $darkblue;
			}
		
		h1 > a {
			color: inherit;
			}
			
		nav a {
			text-decoration: none;
			font-weight: bold;
			}	
		
		.mainHeader nav a{
			color: $gray;
			
			&:hover {
				color: $white;
				transition: color 1s ease-in;
				@include transition(color 1s ease-in);
				}		
			}
			
		.mainFooter nav a {
			color: $white;
			
			&:hover {
				color: $darkblue;
				transition: color 1s ease-in;
				@include transition(color 1s ease-in);
				}		
			}
			
		ul
			{list-style: none;
			}
			
/* 	-------------------
	SPECIFIC SETTINGS 
	-------------------
*/

	/* 	----------------------
		MAIN HEADER AND FOOTER
		----------------------
	*/

		/* Main Header and Footer */
		
			body > header, footer {
				background-color: $blue;
				color: $white;
				text-align: center;
				h1, h2, h3, h4, h5, h6 {
					color: inherit;
					}
				ul li {display: inline;
					}
				padding: .5% 0;
				}
					
			h1.mainHeader {
				text-transform: uppercase;
				font-size: 200%;
				}
				
			@media (max-width:30em) {
				p.tagline, h1.what, aside.dev h1.dev, h1.about, h1.contact, 
				section h2, .services dt, h2.about {
						font-size: 125%;
						}
				h1.mainHeader {
						font-size: 140%;
						}
				}
			
			footer {
				margin: 0;
				padding: 0;
				}
				
		/* Navigation */
		
			nav {
				margin: 0;
				padding: 0;
				text-align: center;
				
				ul {
				padding: 0;
				margin: 0;
					}
					
				ul li {
						margin: 0;
						padding: .5em;
						}
				}
		
			nav.mainFooter {
				color: $blue;
				}
		

	/* 	----------------------
		SECTIONS
		----------------------
	*/
	
		/* Overall Section Settings */

			/* Sections */
			
			section {
				background-color: $white;
				border-bottom: $grayBlock;
				padding: 5% 5%;
				margin: 0;
				
				h1 {
				color: $darkblue;
				font-size: 2rem;
				}
				
				dt {
				color: $blue;
				font-weight: bold;
				font-size: 1.5rem;
				}
				
				dd {
				margin: 0;
				padding: 0 0 2% 0;
				}
			}

				/* Specific Sections and Asides */
				
					/* Last Section */
		
						section.about {
						border-bottom: none;
						}
						
		/* Settings for Other Items */
			
			/* Main Footer */
			
			footer.mainFooter {
			background: $gray;
			color: $white;
			text-align: center;
			margin: 0;
			padding: 2% 0;
			}
	
			/* Aside */
			
			aside.dev {
				border-bottom: $grayBlock;
				padding: 5% 5%;
				margin: 0;
					
				background-color: $blue;
				color: $white;
			
				h1 {
				color: $white;
				font-size: 1.5rem;
				}
				}
				
			/* Tagline */
		
			.tagline {
			color: $blue;
			background-color: $white;
			font-size: 1.5rem;
			margin: 0;
			padding: 1% 2% 0 2%;
			text-align: center;
			}
			
			@media (min-width:30em) { /* 480px */
				p.tagline:before {
					content: url(../images/projects/daisy3.png);
					display:inline-block;
					float:left;
				}
			}
				
			@media (min-width:80em) {	/* 1280px */
				.tagline {
					padding: 1% 20% 0 20%;
					}
					
				p.tagline:before {
					content: url(../images/projects/daisy3.png);
					display:inline-block;
					float:left;
					position: absolute;
					left:10%;
					}
				}
				
				
			/* Icons */
			
			ul.icons li
			{display: inline;
				img {
				height: 3rem;
				max-height: 4em;
				}
			}	
			
			/* Work */
					
			.samples dd {
			padding: 0;
			}
			
			.samples dt {
			padding: 2% 0 0 0;
			}
			
			@media (min-width:47em) {   /* 752 px */
			
				dl.samples dt:before {
					content: url(../images/projects/daisy3.png);
					width: 2%;
					display: inline-block;
					float: left;
					position: absolute;
					padding: 0;
					margin: 0;
					left: -20%;
				}
			
				dl.samples dd, dl.samples dt {
					position: relative;
					left: 15%;
					width: 80%;
					clear:both;
				}
			}
      
  .mainHeader header {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: auto;
  }