/* General Styles */

  html, body {
    background-color: rgba(75,75,75,1);
    }
    
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Garamond, "Times New Roman", serif;
    }

  div {
    background-color: rgba(243,246,255,1);
      }
      
  div {
    padding: 2%;
    margin: 1% 2%;
    left: 5%;
    vertical-align: top;
    }

/* Header and Footer */
  
  header, footer {
    background-color: rgba(16,32,100,1);
    color: rgba(255,255,255,1);
    width: 100%;
    padding: .5% 1% .5% 2%;
    font-family: Verdana, Arial, sans-serif;
    }
    
  header {
    font-size: 90%;
    border-bottom: .125em solid rgba(243,246,255,1);
    }
    
  header  h1, header p, footer p {
    display: inline-block;
    padding: .5% 2%;
    }
    
  footer {
    font-size: 85%;
    }

/* Music Images */
  
  .music img {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    }
    
  .music dl {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 1%;
    }
    
  .music dt {
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    }
    
  dl, dd {
    margin: 0;
    padding: 0;
    }
    
  dl {
    vertical-align: top;
    }
    
  dt {
    padding: 1%;
    }

/* Other Styles */   
 
  .line{
    padding: .01%;
    margin: 0;
    width: 1.5%;
    height: 1em;
    left: 0;
    position: fixed;
    }

  @media (max-width:39.5em) {
      .music img {
      width: 25%;
      height: 25%;
      }
      
      .music dl {
      width: 100%;
      padding-bottom: 2%;
      border-bottom: .1em solid rgba(75,75,75,1);
      }
      
      div {
      margin: .5%;
      }
      
      div.line {
      display: none;
      }
    }
    
  .fixed {
    position: fixed;
    }

  .absolute {
    position: absolute;
    }